<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- 
        Adding custom verbs requires removing and re-adding the IsapiModule.
        This web.config is directly in the same folder as session.asp so we can target the custom HTTP verbs to just this folder.
      -->
      <remove name="ASPClassic" />
      <add name="ASPClassic" path="*.asp" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>